@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Cairo:wght@300;400;600&family=Commissioner:wght@400;500;700&family=Fraunces:ital,wght@0,900;1,700&family=Josefin+Sans:wght@300&family=Open+Sans:wght@400;600;700&family=Outfit:wght@400;700&family=Overpass:wght@300;600&family=Poppins:wght@500;700&family=Ubuntu:wght@400;700&display=swap");
.main-section, .main-section .content .star, .main-section .content .numbers {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: relative;
  font-family: "Overpass", sans-serif;
  height: 100vh;
  background-color: #121417; }

p {
  font-size: 15px;
  color: #959eac;
  font-weight: 500; }

button {
  background: none;
  border: none;
  outline: none; }

.main-section {
  height: 100%; }
  .main-section .content {
    background-color: #252d37;
    padding: 50px 30px;
    width: fit-content;
    border-radius: 20px; }
    @media (max-width: 600px) {
      .main-section .content {
        padding: 50px 15px; } }
    .main-section .content .star {
      width: fit-content;
      padding: 10px;
      border-radius: 50%;
      margin-bottom: 20px;
      background-color: #343f4c; }
    .main-section .content h1 {
      font-size: 30px;
      font-weight: 700;
      color: white;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    .main-section .content p {
      margin-bottom: 25px; }
    .main-section .content .numbers {
      width: 100%;
      height: 70px;
      justify-content: space-between;
      margin-bottom: 25px; }
      .main-section .content .numbers span {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #343f4c;
        text-align: center;
        line-height: 50px;
        color: #959eac;
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.4s ease-in-out; }
        .main-section .content .numbers span:hover {
          color: white;
          background-color: #fb7413; }
        .main-section .content .numbers span.clicked {
          background-color: #7c8798;
          color: white; }
    .main-section .content button {
      display: block;
      width: 100%;
      padding: 15px;
      text-align: center;
      background-color: #fb7413;
      border-radius: 9999px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: white;
      transition: all 0.4s ease-in-out;
      cursor: pointer; }
      .main-section .content button:hover {
        background-color: white;
        color: #fb7413; }
  .main-section .parent {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .main-section .parent .thanks {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #252d37;
      padding: 50px 30px;
      text-align: center;
      border-radius: 20px; }
      @media (max-width: 600px) {
        .main-section .parent .thanks {
          padding: 50px 15px;
          width: 90%; } }
      .main-section .parent .thanks .info {
        width: fit-content;
        padding: 8px 15px;
        background-color: #343f4c;
        margin: 20px auto 40px;
        border-radius: 20px;
        color: #fb7413; }
      .main-section .parent .thanks h2 {
        font-size: 30px;
        font-weight: 700;
        color: white;
        letter-spacing: 0.5px;
        margin-bottom: 20px; }

.attribution {
  font-size: 11px;
  text-align: center;
  color: white; }
  .attribution a {
    color: #3e52a3; }

/*# sourceMappingURL=main.css.map */
